// Colors
$color-primary: #5236ff;
$color-black: #000;
$color-white: #fff;
$color-button: #efecff;
$color-button-grey: #f4f4f4;
$color-grey: #797979;

// Border-radius
$border-radius-default: 5rem;

// Borders

// Font-size
$fs-tittle: 1.8rem;
$fs-heading-1: 4.5rem;
$fs-general: 1.5rem;

// Box-shadow

// Transition
